#pip install --user -r .\requirements.txt
#sometimes people need to add --user, not everybody though
requests
beautifulsoup4
tqdm
Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
openai
python-dotenv
datetime